$color-main: #00E6E6;
$color-dark: #252525;
$color-error: #ef5350;
$color-success: #4caf50;

$percentage: 5%;

:root {
  --color-agenda: #1A73E8;
  --color-mail: #C5221F;
  --color-tasks: #F5BA15;

  --color-main: #{$color-main};
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-inactive: #aaaaaa;

  --theme-light-lighter: #{lighten(#ffffff, $percentage)};
  --theme-light-darken: #{darken(#ffffff, $percentage)};
  --theme-light-text: #{$color-dark};
  --theme-light-background: #ffffff;
  --theme-light-scrollbar: #bbbbbb;

  --theme-dark-lighter: #{lighten($color-dark, $percentage)};
  --theme-dark-darker: #{darken($color-dark, $percentage)};
  --theme-dark-text: #ffffff;
  --theme-dark-background: #{$color-dark};
  --theme-dark-scrollbar: #444444;

  --current-theme-lighter: var(--theme-dark-lighter);
  --current-theme-darker: var(--theme-dark-darker);
  --current-theme-text: var(--theme-dark-text);
  --current-theme-background: var(--theme-dark-background);
  --current-theme-scrollbar: var(--theme-dark-scrollbar);
}
