$color-main: #00E6E6;
$color-dark: #252525;
$color-error: #ef5350;
$color-success: #4caf50;

:root {
  --color-main: #{$color-main};
  --color-error: #{$color-error};
  --color-success: #{$color-success};
  --color-inactive: #aaaaaa;

  --theme-light-darken: #{darken(#ffffff, 50%)};
  --theme-light-text: #{$color-dark};
  --theme-light-background: #ffffff;
  --theme-light-scrollbar: #bbbbbb;

  --theme-dark-darker: #{darken($color-dark, 50%)};
  --theme-dark-text: #ffffff;
  --theme-dark-background: #{$color-dark};
  --theme-dark-scrollbar: #444444;

  --current-theme-darker: var(--theme-dark-darker);
  --current-theme-text: var(--theme-dark-text);
  --current-theme-background: var(--theme-dark-background);
  --current-theme-scrollbar: var(--theme-dark-scrollbar);
}
